:root{
    --fuentePrincipal:'Open Sans', cursive;
    --fuenteTitulos:'PT Sans', cursive;
    --Blanco:#ffffff;
    --secundario:#0097A7;
}

html {
    box-sizing: border-box;
    font-size:62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4{
    font-family: var(--fuenteTitulos);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}
p{
    font-family: var(--fuentePrincipal);
    font-size: 1.8rem;
}

input{
    font-size: 2rem;
}

a{
    text-decoration: none;
    font-size: 2rem;
}

img{
    max-width: 100%;
}

.header{
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../assets/img/header.jpg);
}

.header__titulo{
    text-align: center;
    font-weight: bold;
}
.header__contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
.header__barra{
    padding-top: 4rem;
}

@media (min-width: 768px) {
    .header__barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__navegacion__enlace {
    display: block;
    text-align: center;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .header__navegacion{
        display: flex;
        gap: 2rem;
    }

}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
 }

 @media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
    .header__texto p{
        font-size: 2rem;
    }
}

.header__color{
    color: var(--Blanco) ;
}

.header__margin{
    margin: 0.5;
}

/* Jumbotron*/

.jumbotron{
    padding: 3rem;
    background-color: rgba(52, 50, 50, 0.221)
}

.jumbotron__bloques{
    display: grid;
    grid-template-areas: "mensaje input imagen";
    grid-template-areas: "mensaje"
                         "imagen"
                         "input";
    gap: 3rem;
}

@media (min-width: 768px) {
    .jumbotron__bloques{
        grid-template-areas: "mensaje imagen"
                              "mensaje imagen "
                              "input imagen";
    }
}

@media (min-width: 480px) {
    .jumbotron__bloques{
        grid-template-areas: "mensaje imagen"
                             "mensaje imagen"
                             "input   imagen";
    }
}

.jumbotron__mensaje{
    text-align: center;
    margin-top: 5rem;
    grid-area: mensaje;
}

.jumbotron__input{
    grid-area: input;
    justify-content: center;
}

.jumbotron__imagen{
    grid-area: imagen;
}

.jumbotron__correo{
    display: grid;
    grid-template-columns: 65% 35%
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.input__text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}