:root{
    --fuentePrincipal:'Open Sans', cursive;
    --fuenteTitulos:'PT Sans', cursive;
    --Blanco:#ffffff;
    --Negro:#000000;
    --Amarillo:#E8AE14;
    --Rojo:#F9053C;

}
html {
    box-sizing: border-box;
    font-size:62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--fuenteTitulos);
    line-height: 1.2;
    font-weight: bold;
}

h1{
    font-size: 4.8rem;
    font-weight: bold;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

h5{
    font-size: 2rem;
}

h6{
    font-size: 1.6rem;
}
p{
    font-family: var(--fuentePrincipal);
    font-size: 1.7rem;
    text-align: justify;
}

input{
    font-size: 2rem;
}

a{
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
}

img{
    max-width: 100%;
}

.sombra{
    -webkit-box-shadow: 15px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 15px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: var(--Blanco);
    padding: 2rem;
    border-radius: 1rem ;
}

/* /////////////////////////Header//////////////////////////////////*/
.header{
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../assets/img/header.jpg);
    color: var(--Blanco);
}
.header__titulo{
    text-align: center;
    font-weight: bold;
    color: var(--Blanco);
}
.header__contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
.header__barra{
    display: grid;
    grid-template-rows: repeat(1,1fr);
}
@media (min-width: 768px) {
    .header__barra{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
    }
}

@media (min-width: 1024px) {
    .header__barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header__navegacion{
    font-weight: bold;
}
.header__navegacion__enlace {
    display: block;
    text-align: center;
    padding: 0.5rem;
    color: var(--Blanco);
}
@media (min-width: 768px) {
    .header__navegacion{
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;
    }
    .header__navegacion__enlace{
        font-size: 2.1rem;
        padding: 1rem;
    }
}

@media (min-width: 1024px) {
    .header__navegacion{
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;
    }
    .header__navegacion__enlace{
        font-size: 2.1rem;
    }
}


.header__texto {
    text-align: center;
    color: var(--Blanco);
    margin-top: 3rem;
}

.header__texto p{
    text-align: center;
}

 @media (min-width: 768px) {
    .header__texto {
        margin-top: 10rem;
    }
    .header__texto p{
        font-size: 2rem;
        font-weight: 400;
    }
}

/* ////////////////////////Jumbotron///////////////////////////////// */
.jumbotron__bloques{
    display: grid;
    grid-template-areas: "mensaje formulario imagen aside";
    grid-template-areas: "mensaje"
                         "imagen"
                         "formulario"
                         "aside";
    gap: 3rem;
}

@media (min-width: 1024px) {
    .jumbotron__bloques{
        grid-template-areas: "mensaje mensaje"
                             "imagen formulario"
                             "aside aside";
    }
}

.jumbotron__mensaje{
    grid-area: mensaje;
    text-align: center;
}

.jumbotron__mensaje a,
.jumbotron__mensaje p{
    text-align: center;
}

.jumbotron__formulario{
    background-color: var(--Negro);
    width: min(60rem,100% ); /**Usa el valor mas pequeño **/
    margin: 0 auto;
    padding: 3rem;
    border-radius: 1rem;
    grid-area: formulario;
    grid-area: formulario;
}

.jumbotron__imagen{
    grid-area: imagen;
    text-align: center;
}

.jumbotron__mensaje a{
    color: var(--Negro);
}

.jumbotron__aside{
    grid-area: aside;
    text-align: center;
}
.jumbotron__aside p{
    text-align: center;
}

.jumbotron__aside a{
    font-size: 1.8rem;
}


.jumbotron__formulario fieldset{
    border: none;
}

.jumbotron__formulario legend{
    text-align: center;
    margin: 0 auto;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color:var(--Blanco);
}

.jumbotron__imagen{
    grid-area: imagen;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    color:var(--Negro);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    font-size: 1.6rem;
    color: var(--Blanco);
}

@media (min-width: 768px) {
    .campo label{
        text-align: center;
    }
}

.boton{
    background-color: var(--Rojo);
    color: var(--Blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    border: none;
}

.boton__enviar{
    text-align: center;
}

.inputs{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

/* /////////////////////////////main-pricipal////////////////////////////// */ 
.main{
    background-color: var(--Negro);
    color: var(--Blanco);
}
.main__principal{
    display: grid;
    grid-template-areas: "header sc1 sc2 sc3 sc4 sc5 sc6";
    grid-template-areas: "header"
                         "sc1"
                         "sc2"
                         "sc3"
                         "sc4"
                         "sc5"
                         "sc6";
    padding: 3rem;
    gap: 3rem;
}

.main__principal__diseño,
.main__area1,
.main__area2,
.main__area3,
.main__area4,
.main__area5,
.main__area6{
    text-align: center;
    padding: 1rem;
}

.main__principal__diseño{
    grid-area: header;
}

.main__area1{
    grid-area: sc1;
}

.main__area2{
    grid-area: sc2;
}

.main__area3{
    grid-area: sc3;
}

.main__area4{
    grid-area: sc4;
}

.main__area5{
    grid-area: sc5;
}

.main__area6{
    grid-area: sc6;
}

.main__area1,
.main__area2,
.main__area3,
.main__area4,
.main__area5,
.main__area6{
    background-color: var(--Blanco);
    padding: 2rem;
    border-radius: 1rem ;
}

.main__area1,
.main__area2,
.main__area3,
.main__area4,
.main__area5,
.main__area6, h4{
    color: black;
    text-transform: uppercase;
}

.main__imagen{
    width: 250px;
    height: 250px;
}

.main__principal__diseño p{
    text-align: center;
}

.main__area1 p,
.main__area2 p,
.main__area3 p,
.main__area4 p,
.main__area5 p,
.main__area6 p{
    font-size: 1.4rem;
    text-align: center;
}

@media (min-width: 768px) {
    .main__principal{
        grid-template-areas: "header header"
                             "sc1 sc2"
                             "sc3 sc4"
                             "sc5 sc6";
        text-align: center;
    }
    .main__imagen{
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 1024px) {
    .main__principal{
        grid-template-areas: "header header header"
                             "sc1 sc2 sc3"
                             "sc4 sc5 sc6";
    }
    .main__imagen{
        width: 350px;
        height: 350px;
    }
}

/* //////////////////////////////////Main-secundario (Adicionales)///////////////////////////// */

.adicional{
    display: grid;
    grid-template-areas: "header apt1 apt2 apt3 apt4";
    grid-template-areas: "header"
                         "apt1"
                         "apt2"
                         "apt3"
                         "apt4";
    padding: 3rem;
    gap: 3rem;
    background-color:var(--Blanco);
}

.adicional__imagen{
    grid-area: imagen;
}

@media (min-width: 768px) {
    .adicional{
        grid-template-areas: "header header"
                             "apt1 apt2"
                             "apt3 apt4";
    }
    .adicional__imagen img{
        padding: 1rem;
    }
}

@media (min-width: 1024px) {
    .adicional{
        grid-template-areas: "header header header header"
                             "apt1 apt2 apt3 apt4";
    }
    .adicional__imagen img{
        height: 1150px;
        width: 700px;
        padding: 2rem;
        border-radius: 1rem;
    }
}

.adicional__header,
.adicional__header p{
    grid-area: header;
    color: var(--Negro);
    text-align: center;
}


.adicional__apt1{
    grid-area: apt1;
}

.adicional__apt2{
    grid-area: apt2;
}

.adicional__apt3{
    grid-area: apt3;
}

.adicional__apt4{
    grid-area: apt4;
}

.adicional__apt1,
.adicional__apt2,
.adicional__apt3,
.adicional__apt4{
    color: var(--Blanco);
    text-align: center;
    background-color: var(--Negro);
    padding: 2rem;
    border-radius: 1rem ;
}

.adicional__apt1 h5,
.adicional__apt2 h5,
.adicional__apt3 h5,
.adicional__apt4 h5{
    text-transform: uppercase;
}

.adicional__apt1 a,
.adicional__apt2 a,
.adicional__apt3 a,
.adicional__apt4 a{
    color: var(--Amarillo);
}


/* //////////////////////////////////Footer///////////////////////////////// */

.footer{
    padding: 0.5rem;
    display: grid;
    grid-template-areas: "header iconos extras tarjetas final";
    grid-template-areas: "header"
                         "iconos"
                         "extras"
                         "tarjetas"
                         "final";
    padding: 2rem;
}

.footer p{
    font-size: 1.2rem;
}

.footer__header{
    grid-area: header;
    text-align: center;
}

.footer__iconos{
    grid-area: iconos;
}
.footer__extras{
    grid-area: extras;
}

.footer__tarjetas{
    grid-area: tarjetas;
}

.footer__final{
    grid-area: final;
    padding: 1rem;
}

.footer__final p{
    text-align: center;
}

.footer__header,
.footer__iconos,
.footer__extras,
.footer__tarjetas,
.footer__final{
    text-align: center;
}

.footer__soporte a{
    text-align: center;
    color: var(--Negro);
    font-size: 1.2rem;
}

.footer__img{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
}

@media (min-width: 768px) {
    .footer{
        grid-template-areas: "header header"
                             "iconos extras"
                             "tarjetas tarjetas"
                             "final final";
    }
}
@media (min-width: 1024px) {
    .footer{
        grid-template-areas: "header header header"
                             "iconos extras tarjetas"
                             "final final final";
    }
}